html,body{
	margin:0px;
}

*{
	margin:0px;
}

section {
	z-index: 1; /* needed for setting pseudo-element z-index */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

a{
	display:block;
	width:100%;
	height:100%;
}

section a {
		display:inline;
		width:auto;
		height:auto;
		position: relative;
		display: inline-block;
		outline: none;
		color: #404d5b;
		vertical-align: bottom;
		text-decoration: underline;
		white-space: nowrap;
}

section a:hover{
	background-color: #404d5b;
	color: #FFFFFF;
	text-decoration: underline;
	white-space: nowrap;
}

h1{
	text-align: center;
	margin-bottom: 15px;
	padding-top: 5%;
	font-size: 300%;
}

#container{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
}

.content{
	width: 100%;
	height: 100%;
	overflow-y:scroll;
}

#intro{
	position:relative;
	background:url("../img/firstBG.jpg")no-repeat fixed;
	background-size:cover;
	background-position:center;
	color: white;
}
#home{
	background:url("../img/clean_textile.png") repeat;
}
#homeText{
	text-align: center;
}
#history{
	background:url("../img/clean_textile.png") repeat;
}
#historyText p{
	text-align: justify;
	margin: 1%;
}
#montevideo{
	background: url("../img/thirdBG.jpg") no-repeat fixed;
	background-size: cover;
	background-position:center;
	color: white;
}
#montevideoText{	
	margin-top: 10%;
}
#montevideoText h2{
	font-size: larger;
	text-transform: uppercase
}
#montevideoText h3{
	font-size: initial;
}
#montevideoText a{
	color:white;
}

#punta{
	background: url("../img/fourth.jpg") no-repeat fixed;
	background-size: cover;
	background-position:center;
	color: white;
}
#puntaText{
	margin-top: 10%;
}
#puntaText h2{
	font-size: larger;
	text-transform: uppercase
}
#puntaText h3{
	font-size: initial;
}
#puntaText a{
	color:white;
}

#ceremony{
	background:url("../img/fifth.jpg")no-repeat fixed;
	background-size: cover;
	background-position:center;
	color:white;
}

#ceremonyText{
	text-align: center;
}

#ceremonyText h2{
	font-size: larger;
}

#presents{
	background:url("../img/clean_textile.png") repeat;
}

#presents h1{
	color:rgb(109,109,109);
}

#presentsText{
	color:rgb(109,109,109);
}

#presentsText h2{
	font-size: larger;
}

#contact{
	background:url("../img/clean_textile.png") repeat;
}

#contact h1{
	color:rgb(109,109,109);
}

#contactText{
	color:rgb(109,109,109);
}

.presentation{
	font-size: 200%;
	max-width:50%;
	height:70%;
}
.presentation h1{
	padding-top:20%; 
}

.center{
	font-family: 'Amaranth', sans-serif;
	overflow: inherit;
	height:75%;
	margin-top: 10%;
}

.story{
	height:85%;
	width:80%;
	margin:auto;
}

.arrowDown{
	height:31.5px;
	width:58.5px;

	margin:auto;
	display:block;

	background:url("../img/arrow_sprite.png") no-repeat;
	background-position:top;
	background-size: cover;
	/*background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);*/
	z-index:100;
}

.arrowDown:hover{
	background:url("../img/arrow_sprite.png") no-repeat;
	background-position:bottom;
	background-size: cover;
	/*background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);*/
	cursor:pointer;
}

.arrowUp{
	height:31.5px;
	width:58.5px;

	margin:0 auto;
	display:block;

	background:url("../img/arrow_sprite_up.png") no-repeat;
	background-position:bottom;
	background-size: cover;
	/*background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);*/
	z-index:100;
}

.arrowUp:hover{
	background:url("../img/arrow_sprite_up.png") no-repeat;
	background-position:top;
	background-size: cover;
	/*background-color: rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);
	box-shadow: 0 0 25px 25px rgba(0,0,0,0.1);*/
	cursor:pointer;
}

.goToPortuguese{
	min-width:120px;
	width: 15%;
	height: 15%;
	float:right;
	padding-top:1%;
}

.goToPortuguese p {
	font-family: 'League Script', cursive;
	font-size:150%;
	text-decoration:underline;
	color:white;
	margin-right:10px;
	cursor:pointer;
}

footer{
	padding: 5px;
	text-align: center;
	position:relative;
	background-color: rgba(77,77,77, 0.9);
}

footer h3{
	font-family: 'Amaranth', sans-serif;
	color:rgba(244,244,244, 1);
	display: inline;
	vertical-align: middle;
}

footer a{
	margin-left: 10px;
	display: inline;
	vertical-align: middle;
}

footer img{
	vertical-align: middle;
}

.textCol{
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    text-align: center;
}

.line-separator{
	height:1px;
	background:#FFFFFF;
	margin: 25px;
}

@media(min-width: 800px) {
 	h1 {
    	font-family: 'Stalemate', cursive;
		text-shadow: 4px 4px 0px rgba(0,0,0,0.1); 
		font-size: 450%;
	}
	#loader{
		display:none;
		position:absolute;
		height:100%;
		width:100%;
		background-color:rgba(77,77,77, 0.9);
		z-index:999999;
		color:white;
	}
	#loader h1{
		display:inline;
		margin-left: 40%;
		text-shadow: 4px 4px 0px rgba(244,244,244, 0.3); 
	}
	#loader img{
		padding-top:25%;
		width:3%;
	}
}
@media(max-width: 800px) {
	#history{
		visibility: hidden;
		height:0px;
	}
	#montevideo{
		height:auto;
	}
	#presents{
		height:auto;
	}
	div{
		-webkit-overflow-scrolling: touch;
   		-moz-overflow-scrolling: touch; /* Firefox */
	}
	
	.content{
		overflow-y:visible;
	}
	
	.arrowDown{
		visibility: hidden;
	}
	
	h1 {
		font-family: 'Stalemate', cursive;
		font-size: 400%;
	}
	
	#loader{
		display:none;
		position:absolute;
		height:100%;
		width:100%;
		background-color:rgba(77,77,77, 0.9);
		z-index:999999;
		color:white;
		text-align: center;

	}
	
	#loader h1{
		display:none;
	}
	
	#loader img{
		position: absolute;
		top:25%;
		left: 25%;
		width:50%;
	}
	
	.textCol{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
   		-moz-column-count: 1; /* Firefox */
    	column-count: 1;
    	text-align: center;
    	overflow
	}
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
	h1{
		font-size: 500%;
	}
	
	p{
		font-size: 300%;
	}

}